<li><img src="http://ecus.openmaru.com/projects/<%= project.id %>;favicon" alt="Xquared" style="vertical-align: middle; margin-right: 1px" width="16" />
<a href="/issues?project=<%= project.name %>" class='project' id='project_Xquared'><%= project.name %></a></li>
