body { 
	background-color: #fff; color: #333; 
  background: url(/images/bg_top.gif) repeat-x;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
#header a { color: #fff; }
#header a:visited { color: silver; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

#menu {
	list-style: none;
	text-align: right;
	margin: 0;
}
#menu li {
	display: inline;	
	padding: 0 3px;
}
#header { 
	position: relative; 
	padding-bottom: 10px;
}
#logo {
	position: absolute;
	top: -20px;
}
#header cite {
	position: relative;
	color: silver;
	left: 60px;
	top: -10px;
}

input.openid {
	background: transparent url(/images/openid_bg.gif) no-repeat left center;
	padding-left: 18px;
}

.comment textarea { height: 70px; }

#diggbox {
	width: 60px;
	height: 50px;
	float: right;
	background: #eef;
	border: 2px solid gray;
	text-align: center;
}
#diggbox h5 {
	margin: 0; padding: 3px 0;	
}
#diggbox span {
	font-size: 1.2em;	
	font-weight: bold;
	color: orange;
}

.tag {
	padding-left: 18px;
	background: transparent url(/images/tag.png) no-repeat top left;
}